:root {
    --font-soucesans: "Source Sans 3", sans-serif;
    --light: #FF6565;
    --dark: #071629;
}

#header_section {
    background-image: url(images/header/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
}  




/* button */

.btn {
    padding: 13px 31px;
    border-radius: 22px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    background: var(--light);
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Adding drop shadow */
    /* cursor: pointer; */
    opacity: 1;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

    



nav {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    /* position: fixed;
    width: 1000px;
    top: 32px; 
    z-index: 100; */
}

.mobile_nav {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 41px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

/* hero section */

.hero-section {
    color: white;
    text-align: center;
}

.light_heading {
    padding-top: 242px;
}

.btn {
    margin-top: 40px;
    margin-bottom: 65px;
}

.content-area {
    padding-bottom: 115px;
}

/* end of header */


@media (max-width: 480px) {

    .wrapper {
        padding: 0px 20px 0px 20px;
    }

    nav {
        display: none;
    }

    .mobile_nav {
        display: flex;
        align-items: center;
        padding: 29px 0px 0px 21px;
    }

    .mobile_logo {
        max-width: 161px;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;      
    }

    /* .mobile_menu_container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--dark);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
    } */


}
