:root {
    --font-soucesans: "Source Sans 3", sans-serif;
    --light: #FF6565;
    --dark: #071629;
}

#header_section {
    background-image: url(images/header/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
}  




/* button */

.btn {
    padding: 13px 31px;
    border-radius: 22px;
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    background: var(--light);
    text-decoration: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Adding drop shadow */
    /* cursor: pointer; */
    opacity: 1;
    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.9;
}

    



nav {
    display: flex;
    justify-content: space-between;
    padding-top: 27px;
    /* position: fixed;
    width: 1000px;
    top: 32px; 
    z-index: 100; */
}

.mobile_nav {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 41px;
    list-style: none;
}

.ul a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.ul a:hover {
    transform: scale(1.2);
    color: var(--light);
}

/* hero section */

.hero-section {
    color: white;
    text-align: center;
}

.light_heading {
    padding-top: 242px;
}

.btn {
    margin-top: 40px;
    margin-bottom: 65px;
}

.content-area {
    padding-bottom: 115px;
}

/* end of header */




/* what we do */

.icon {
    width: 67.59px;
    height: 76.8px;
}
/* icons dimensions, orginal png are not equal */


.top {
    text-align: center;
    padding-top: 110px;
}

.dark_h1 {
    font-weight: 600;
    margin-bottom: 40px;
}

.top_content p {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 97px;
}

/* width added to display the content accurately, consider effect during reponsive design */
.top_content {
    width: 637px;
    margin: 0 auto;
    text-align: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-bottom: 169px;
}

.bottom h3 {
    font-size: 18px;
    font-weight: 600;
}

.bottom p {
    font-size: 14px;
}

.bottom * {
    transition: transform 0.5s ease;
}

.bottom *:hover {
    transform: scale(1.2);
}

/* end of what we do section */


/* Our results section */

.our_results {
    background-image: url(images/header/headphones_hero_2.jpg);
    color: white;
}

.achivement {
    padding-top: 141px;
    text-align: center;
}

.light_h1 {
    font-weight: 600;
    margin-bottom: 40px;
}

.achivement p {
    margin-bottom: 52px;
    font-weight: lighter;
}

.hexagons {
    display: flex;
    justify-content: space-between;
    padding-bottom: 79px;
}


/* end of our results section */



/* Contac us section */

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 101px;
}

.contact h1 {
    margin-bottom: 56px;
}

.username {
    display: flex;
    margin-bottom: 45px;
}

#name {
    border: none;
    border-bottom: 1px solid #979797;
    width: 335px;
    outline: none;
    padding: 0px 0px 5px 0px;
    font-size: 14px;
    font-weight: 600;
}



.mail {
    display: flex;
    margin-bottom: 45px;
}

#email {
    border: none;
    border-bottom: 1px solid #979797;
    width: 335px;
    outline: none;
    padding: 0px 0px 5px 0px;
    font-size: 14px;
    font-weight: 600;
}



.comment {
    display: flex;
    margin-bottom: 56px;
}

#message {
    border: none;
    border-bottom: 1px solid #979797;
    width: 335px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
}

.contact_btn {
    margin-bottom: 130px;
}

/* end of contact us section */


/* footer section */

footer {
    background: var(--dark);
}

.links  {
    padding-top: 92px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 71px;
}

.footer_logo {
    margin-right: auto;
}

.socials {
    display: flex;
    align-items: center;
    gap: 20px;
}

.copyright {
    color: white;
    text-align: center;
    font-size: 12px;
    padding-bottom: 39px;
}

/* end of footer section */



@media (max-width: 480px) {

    html, body {
        width: 100%;
        height: auto;
        overflow-x: hidden;
        box-sizing: border-box;
    }

    .wrapper {
        padding: 0px 20px 0px 20px;
    }

    nav {
        display: none;
    }

    .mobile_nav {
        display: flex;
        align-items: center;
        padding: 29px 0px 0px 21px;
    }

    .mobile_logo {
        max-width: 161px;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;      
    }

    .dark_h1 {
        text-align: center;
    }

    
    /* .mobile_menu_container {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--dark);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 200;
    } */


/* what we do section */
    .top_content {
        max-width: 323px;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding-bottom: 169px;
        gap: 96px;
    }


/* end of what we do section */


/* Our result section */

    .our_results {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .achivement {
        max-width: 330px;
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .achivement h1 {
        max-width: 213px;
        width: 100%;
        height: auto;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .achivement p {
        max-width: 330px;
        width: 100%;
    }

    .hexagons {
        display: flex;
        flex-direction: column;
        gap: 42px;
        max-width: 190px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

    }

/* end of our results section */


/* contact us section */

    .form {
        max-width: 335px;
        width: 100%;
    }

/* end of contact us section */


/* footer seection */

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;
    }

    .footer_logo {
        margin-left: auto;
        margin-right: auto;
    }

    .footer_logo_image {
        max-width: 162px;
        width: 100%;
    }

    .socials {
        display: flex;
        max-width: 130px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        gap: 20px;
    }

    .social_logos {
        max-width: 100%;
    }

   /* end of footer section */

}
